/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Cores */
:root {
    --cor-primaria: #00ffff; /* Ciano */
    --cor-secundaria: #ffb6c1; /* Rosa Claro */
    --cor-texto: #333;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: var(--cor-primaria);
    color: #fff;
}

header .logo {
    font-size: 1.8em;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: